.variety-main-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}
.variety-content{
    /* width: 50%; */
    padding-left: 100px;
}
.var-img{
    
    
}
.variety-logo{
    /* width: 50%;    */
    padding-top: 70px;
    padding-right: -20px;
}
#variety-h3{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
}
#variety-h2{
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
width: 480px;
}
#variety-h4{
font-weight: 500;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.2px;
color: #737373;
}
@media(max-width:414px){
    .variety-content{
        width: 100vw;
        padding-left: 0px;
    }
    .var-img{
    /* margin-top: 112px;
    margin-bottom: 270px;
    margin-left: 36px;
    width: 100vw; */
    }
    #variety-h3{
        font-size: 24px;
line-height: 36px;
text-align: center;
    }
    #variety-h2{
        font-size: 40px;
line-height: 57px;
text-align: center;
width: 347px;
margin-left: 30px;
margin-top: 25px;
    }
    #variety-h4{
        width: 227px;
        font-size: 24px;
        margin-left: 100px;
        margin-top: 25px;
    }
    .variety-logo{
        margin-top: -113px;
    margin-left: -52px;
    margin-bottom: -130px;
    width: 100%;
    }
}
@media (max-width:360px){
    #variety-h2{
        margin-left: 8px;
    }
    #variety-h4{
        text-align: center;
        margin-left: 63px;
    }
    .var-img{
        margin-left: -24px;
    }
}
